*{
margin:0;
padding:0;
}
@font-face{font-family: "HelveticaRegular";  src: url(font/HelveticaRegular.ttf);}

body{
font-family:'Noto Sans', sans-serif,Arial,;	
}
ul{
 list-style:none;
}
a{
 text-decoration:none;
}
a:hover{
 text-decoration:none;
}
.pump{
float:left;
}
.logo{
width:965px;
overflow:hidden;
}
.wrapper{
	width: 100%;
	overflow: hidden;
}
.container1{
width:965px;
margin:auto;
margin-top:70px;
}
.header {
background:#9599a1;
overflow: hidden;
height: 800px;

}
.join{
font-size:12px;
text-transform:uppercase;
float:right;
} 
.button li{
 float:left;
 margin:0;
 display:inline-block;
} 
.button  li a{
 margin-top:0px;
 display:block;
 color:#eee;
 text-decoration:none;	
 font-size:12px;
 padding:16px 25px 0px 0px;
 
} 
.button ul li a:hover{
 background: #9599a1;
 color:#bbb;
}
.icon1{
	float: left;
	position:relative;
	bottom: 524px;
	right: 25px;
}
.logo1 img {
	max-width: 111%;
}

.icon1 ul {
 display:block;
 float:left;
 width:60px;
 margin:0;
 }
 .icon1 ul li{
 width: 20px;
 background: #F26C4F;
 border-radius: 50%;
 padding: 15px;
 margin-bottom: 2px;
}
 .backhead {
position: relative;
bottom: 83px;
left:23px;

 
}
.container2{
height: 140px;
overflow:hidden;
margin:auto;
width: 965px;
}
.title{
text-transform:uppercase;
font-size: 14px;
margin: 20px auto;
}
.carousel_line{
	height: 8px;
}
.menu1{
float:left;
font-size:20px;
text-transform:uppercase;
color:#f26c4f;
}
.contentmenu1{
width:60%;
font-size:13px;
line-height:20px;
}
.years{
font-size:14px;
text-transform:uppercase;
color:#f26c4f;
padding-left:4px;
}
.grafiki{
width:965px;
margin:auto;
}
.grafik1{
float:right;
position:relative;
bottom: 110px;
right:20px;
}
.centr_menu ul{
display:inline-flex;
}
.centr_menu ul li{
padding:0 50px;
}
.centr_menu{
width:1200px;
margin:auto;
}
h5{
text-transform:uppercase;
}
.content {
font-style:normal;
}
.Text_centr{
width:965px;
margin:auto;
overflow:hidden;
}
.text_menu{
width: 45%;
float:left;
margin-bottom:50px;
margin-right: 45px;

}

.container3{
width:965px;
margin:auto;
margin-bottom: 50px;
}
.container_2{
	width:100%;
	overflow: hidden;
}
.tab-content{
	background:rgba(205,205,205,0.3);
	box-shadow: 0px 0px 2px 1px;
}
.boots{
	text-align: center;
	width:50%;
	float: right;

	position: relative;
	bottom: 60px;
}
.content2{
	margin-left:50px;
	margin-top: 20px;
	font-style:normal;
	width:42%;
	float: left;
	line-height: 20px;
	font-size: 12px;
}
.tabh5{
	margin-top: 35px;
	margin-left: 50px;
	color:#aaa5a5;
}
.footer{
	overflow:hidden;
	padding-bottom: 300px;
	background: radial-gradient(circle at 50% -31%, rgba(44, 43, 53, 0.71), #2C2B35, #2C2B35);
}
.footer-inner{
	width: 965px;
	margin:auto;
	overflow: hidden;
}
.content3{
	color:#fff;
	font-style:normal;
	width: 61%;
	float: left;
}
.pump2{
color:#fff;
text-transform:uppercase;
float:left;
margin:auto;
margin-top:100px;
letter-spacing:-3px;
margin-left:10px;
margin-bottom: 10px;
width: 100%;
}
.icon{
	float:left;
	position: relative;
	right: 736px;
	top: -73px;
}
.icon li{
display: inline-block;
width: 20px;  background: #F26C4F;  border-radius: 50%;  padding: 15px;  margin-bottom: 2px;
}
.buttons-footer {
	float: left;
}
.linefooter{
	float:left;
	padding: 0 30px;
}
.pump_psd {
color:#fff;
}
.tab-content{
	background:#fff;
}

